<div class="container-fluid">
    <div class="personagens">
        <div class="cartao" style="width: 18rem;" *ngFor="let p of listData">
            <img [src]="p.image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{p.name}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{p.species}}</li>
                <li class="list-group-item">{{p.type}}</li>
                <li class="list-group-item">{{p.status}}</li>
            </ul>
            <div class="card-body">
                <a href="{{p.url}}" target="blank" class="card-link">Url API</a>
            </div>
        </div>
    </div>
</div>